*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image:url(../images/coding-portfolio.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
    



.banner-area{
    width: 100%;
    height: 100vh;
   

    

}



.content-area{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.content{
    text-align: center;
}

.content h1{
    font-size: 80px;
    color:cornsilk;
}

.content h2{
    font-size: 40px;
    color:darksalmon;
}

.content p{
    font-size: 30px;
    color:cornsilk;
}

.container{
    width:70%;
    margin: 10px auto;
    padding:10px;
    

}

.container .box{
    width:100%;
    padding:50px;
    background:burlywood;
    margin-top:50px;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, .1);
}

#my-photo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.box h3{
    text-align: center;
}

#phone{
    text-align:center;
}

.email{
    color: coral;
    display: block;
    text-align: center;
}